[class^="hvr-"] {
    background: #e1e1e1;
    color: #666;
    cursor: pointer;
    line-height: 1.2;
    margin: .4em;
    padding: 1em;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}